In [1]:
1+1

2

In [2]:
a = 5
b = 13
a+b

18

In [1]:
x = 1
y = 5

if x > y :
    print('yes')
else:
    print('no')

no

**NOMOR 1**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih kecil** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih kecil dari b`

In [2]:
a = 100
b = 200
if a < b:
    print("a lebih kecil dari b")

a lebih kecil dari b

**NOMOR 2**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih besar** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih besar dari b`

In [4]:
if a > b:
    print('a lebih besar dari b')
else:
    print('a lebih kecil dari b')

a lebih kecil dari b

**NOMOR 3**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **tidak sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = `januari`
* `b` = `februari`

Jika `True` maka tulis/cetak `a tidak sama dengan b`

Jika `False` maka tulis/cetak `a sama dengan b`

In [6]:
a = "januari"
b = "februari"

if a != b:
    print("a tidak sama dengan b")
else:
    print(' a sama dengan b')

a tidak sama dengan b

**NOMOR 4**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = 1000
* `b` = 1000.0

Jika `True` maka jangan menampilkan apapun

Jika `False` maka tulis/cetak `a tidak sama dengan b`

In [8]:
a = 1000
b = 1000.2

if a == b:
    pass
else:
    print('a tidak sama dengan b')

a tidak sama dengan b

In [10]:
print(type(a))
print(type(b))
print(a)
b

<class 'int'>
<class 'float'>
1000

1000.2

**NOMOR 5**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **berbeda**  variabel `b` berdasarkan nilai dibawah ini :
* `angka_ganjil` = `[1, 3, 5, 7]`
* `angka_genap`  = `[2, 4, 6, 8]`

Jika `True` maka tulis/cetak `angka_ganjil berbeda dengan angka_genap`

Jika `False` maka tulis/cetak `angka_ganjil sama dengan angka_genap`

In [11]:
angka_ganjil = [1, 3, 5, 7]
angka_genap = [2, 4, 6, 8]

if a!=b:
    print("angka_ganjil berbeda dengan angka_genap")
else:
    print("angka ganjil sama dengan angka genap")

angka_ganjil berbeda dengan angka_genap

**NOMOR 6**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini mempunyai nilai atau tidak

* `nama` = `budi`
* `usia` = 20
* `jenis_kelamin_pria` = True
* `alamat` = `None`
* `jumlah_motor` = 0
* `punya_rumah` = `False`

Jika True maka tulis/cetak `ada`

Jika False maka tulis/cetak `tidak ada`

In [18]:
nama = "budi"
usia = 20
jenis_kelamin_pria = True
alamat = None
jumlah_motor = 0
punya_rumah = False

if punya_rumah:
    print("ada")
else:
    print("tidak ada")

tidak ada

**NOMOR 7**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini termasuk salah satu nilai dari variabel lain atau tidak

* *`pendidikan` = `s1`* terhadap *`daftar_pendidikan` = ['s1', 's2', 's3']*
* *`nama` = `budi`* terhadap *`nama_lengkap` = `budi kurniawan`*

Jika True maka tulis/cetak `merupakan bagian`

Jika False maka tulis/cetak `bukan merupakan bagian`

In [24]:
pendidikan = "s4"
daftar_pendidikan = ['s1','s2','s3']

nama = 'Budi'
nama_lengkap = "budi kurniawan"

if pendidikan in daftar_pendidikan:
    print("merupakan bagian")
else:
    print("bukan merupakan bagian")

if nama in nama_lengkap:
    print('merupakan bagian')
else:
    print('bukan merupakan bagian')

bukan merupakan bagian
bukan merupakan bagian

**NOMOR 8 (IF ELIF)**

Buatlah sebuah kondisi untuk mengecek hubungan dua variabel dibawah ini :

* `a` = 100
* `b` = 100

Jika `a < b` maka tulis/cetak `a lebih kecil dari b`

Jika `a > b` maka tulis/cetak `a lebih besar dari b`

Selain kondisi diatas, maka tulis/cetak `a sama dengan b`

In [27]:
a = 10
b = 100
if a < b:
    print('a lebih kecil dari b')
elif a > b:
    print('a lebih besar dari b')
else:
    print('a sama dengan b')

a lebih kecil dari b

**NOMOR 9 (NESTED IF)**

Buatlah sebuah kondisi untuk memilih menu makanan dengan syarat :

* Pilih `nasi goreng` jika uang yang dimiliki lebih dari sama dengan Rp 15.000,-
* Pilih `ketoprak` jika uang yang dimiliki lebih dari sama dengan Rp 10.000 dan kurang dari Rp 15.000,-
* Pilih `batagor` jika uang yang dimiliki lebih dari sama dengan Rp 5.000 dan kurang Rp 10.000,-
* Pilih `es teh manis` jika uang yang dimiliki kurang dari Rp 5000

In [31]:
uang = 2000
if uang >= 15000:
    print('beli nasi goreng')
elif uang >= 10000:
    print('beli ketoprak')
elif uang >= 5000:
    print('beli batagor')
else:
    print('beli es teh')

beli es teh

### Conditional Expressions (Python's Ternary Operator)

In [33]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [36]:
age = 22
s = 'teen' if age < 21 else 'adult'
s

'adult'

### While loop example dr buku

In [20]:
i = 3
while i < 5:
    print ("Belajar Python")
    i = i + 1

Belajar Python
Belajar Python

In [31]:
i = 2
while i < 6:
    print (i)
    i +=1

2
3
4
5

In [39]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print (n)
print ("End of loop")

4
3
End of loop

In [37]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print (n)
print ("End of loop")

4
3
1
0
End of loop

In [38]:
n = 5
while n > 0:
    n-=1
    print (n)
else:
    print ("End of loop")

4
3
2
1
0
End of loop

In [40]:
n = 5
while n > 0:
    n-=1
    print (n)
    if n == 2:
        break
else:
    print ("End of loop")

4
3
2

### Nested If

In [46]:
age = 77
gender = "M"

if age < 18:
    if gender == "M":
        print ("son")
    else:
        print ("daughter")
elif age >= 18 and age < 65:
    if gender == "M":
        print ("father")
    else:
        print ("mother")
else:
    if gender == "M":
        print ("grandfather")
    else:
        print ("grandmother")

grandfather

In [54]:
a = ["foo" , 'bar' , "rab"]

while len(a):
    print (a.pop(0))

    b = ['baz', 'qux']
    while len(b):
        print ('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux
rab
> baz
> qux

#### mesti belajar len & pop lagi

### For loop

In [55]:
for i in range(4,-1,-1): # mulai dr 4, end nya di -1, stepnya berkurang 1
   print(i)

4
3
2
1
0

#### For loop in dictionary

In [58]:
d = {'foo' : 1, "bar" : 2, "baz" : 3}
for k in d:
    print (k)

foo
bar
baz

In [59]:
for k in d:
    print (d[k])

1
2
3

In [60]:
for k in d.values():
    print (k)

1
2
3

In [61]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

### Latihan Soal

**NOMOR 10**

Buatlah sebuah perulangan untuk mencetak/menulis kata `hello` sebanyak `5` kali.

In [67]:
i = 5
while i > 0:
    i -= 1
    print ('hello')

hello
hello
hello
hello
hello

In [68]:
for i in range(5):
    print ('hello')

hello
hello
hello
hello
hello

**NOMOR 11**

Buatlah sebuah perulangan untuk menampilkan angka dari `0` - `5`

*Hasil : 0 1 2 3 4 5*

In [79]:
i = 0
while i < 6:
    print (i, end=' ')
    i+=1

0 1 2 3 4 5

In [77]:
for i in range(6):
    print (i, end= ' ')

0 1 2 3 4 5

**NOMOR 12**

Buatlah sebuah perulangan untuk menampilkan angka dari `3` - `5`

*Hasil : 3 4 5*

In [80]:
i = 3
while i < 6:
    print (i, end=' ')
    i+=1

3 4 5

In [82]:
i = 2
while i < 5:
    i+=1
    print (i, end= ' ')

3 4 5

In [83]:
for i in range(3,6):
    print (i, end= ' ')

3 4 5

**NOMOR 13**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dengan jarak angka adalah `3`

*Hasil : 1 4 7 10*

In [84]:
for i in range(1,11,3):
    print (i, end= ' ')

1 4 7 10

In [85]:
i = 1
while i < 11:
    print (i, end= ' ')
    i+=3

1 4 7 10

In [86]:
i = 10
while i > 0:
    print (i, end=' ')
    i-=3

10 7 4 1

**NOMOR 14**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dan berhenti dengan kondisi jika angka tersebut adalah `8`

*Hasil : 1 2 3 4 5 6 7 8*

In [87]:
for i in range(1,9):
    print (i, end= ' ')

1 2 3 4 5 6 7 8

In [88]:
i = 1
while i < 9:
    print (i, end= ' ')
    i+=1

1 2 3 4 5 6 7 8

In [90]:
i = 0
while i < 8:
    i+=1
    print (i, end= ' ')

1 2 3 4 5 6 7 8

**NOMOR 15**

Buatlah sebuah perulangan untuk menampilkan angka genap dari `1` - `10` dan angka tersebut kurang dari sama dengan 6

*Hasil : 2 4 6*

In [93]:
for i in range(2,8,2):
    print (i, end= ' ')

2 4 6

In [94]:
i = 2
while i < 8:
    print (i, end= ' ')
    i+=2

2 4 6

**NOMOR 16**

Buatlah sebuah perulangan untuk menampilkan isi dari variabel list dibawah ini :

* `daftar_nama` = `['anwar', 'budi', 'cecep', 'deny']`

In [95]:
daftar_nama = ['anwar', 'budi', 'cecep', 'deny' ]

for i in daftar_nama:
    print (i)

anwar
budi
cecep
deny

In [96]:
i = 4
a = 0
while i > 0 :
    print(daftar_nama[a])
    i-=1
    a+=1

anwar
budi
cecep
deny

#### break & continue in for loop

In [102]:
for i in ['foo', 'box', 'bag', 'sad']:
    if 'a' in i:
        break
    print (i)

foo
box

In [103]:
for i in ['foo', 'box', 'bag', 'sit']:
    if 'a' in i:
        continue
    print (i)

foo
box
sit

#### else in for loop

In [104]:
for i in ['foo', 'box', 'bag', 'sad']:
    print (i)
else:
    print ('done')

foo
box
bag
sad
done

### Sesi 3 : Python Function & Module

In [2]:
def hitung_luas(p,l):
    return p*l
hitung_luas(2,30)

60